@page
@model FSW.Core.ModelBase<FSWDocumentation.Pages.IndexPage>
@{
    Layout = "~/Pages/_layout.cshtml";
}


<div id="MainDiv">
    <div id="LeftMenu" style="width: 250px; height: 100vh"></div>
    <div id="RightContainer" style="position: relative; left: 250px; height: 100vh; width: calc(100% - 250px)"></div>
</div>