@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<FSWInit Page="@Page"></FSWInit>

<span @onclick="_=>OnContainerClicked(null)">@Text</span>

@code{

    static MyPage Page = new MyPage();

    string Text = "yo";
    static bool Done = false;
    protected override void OnInitialized()
    {
        if (!Done)
        {
            Done = true;
            return;
        }

        System.Threading.Tasks.Task.Run(() =>
        {
            System.Threading.Thread.Sleep(5000);
            Page.Container.Width = "200px";
            Page.Container.Height = "200px";
            Page.Container.BackgroundColor = System.Drawing.Color.Blue;
            Page.Container.OnClicked += OnContainerClicked;
        });
    }

    private void OnContainerClicked(FSW.Controls.Html.HtmlControlBase htmlControlBase)
    {
        InvokeAsync(() =>
        {
            Text += " yo";
            StateHasChanged();
        });

    }

}