/.vs
/src/.vs/config
/src/FullSpectrumWebForms/bin
/src/FullSpectrumWebForms/node_modules
/src/FullSpectrumWebForms/obj
/src/FullSpectrumWebForms/Properties/PublishProfiles
/src/FullSpectrumWebForms/wwwroot/js/controls/**/*.map
/src/FullSpectrumWebForms/wwwroot/js/core/**/*.map
/src/FullSpectrumWebForms/wwwroot/js/treeTable/treeTable.js.map
/src/FullSpectrumWebForms_ASPC/bin
/src/FullSpectrumWebForms_ASPC/obj
/src/FullSpectrumWebForms_Semantic/bin
/src/FullSpectrumWebForms_Semantic/node_modules/@types/jquery
/src/FullSpectrumWebForms_Semantic/obj
/src/FullSpectrumWebForms_Semantic/Properties
/src/FullSpectrumWebForms_Semantic/wwwroot/js/semantic/controls/**/*.map
/tests/TestApplication/obj
/tests/TestApplication/Properties
/tests/TestApplication/bin/Debug
/tests/TestApplication/bin/Debug_NetFramework
/ProjectTemplate/ProjectTemplate/bin
/ProjectTemplate/ProjectTemplate/obj
/ProjectTemplate/ProjectTemplate/Reference/FSW.Semantic.dll
/ProjectTemplate/ProjectTemplate/Reference/FullSpectrumWebForms.dll
/ProjectTemplate/ProjectTemplate/Reference/FullSpectrumWebForms_ASPC.dll
/ProjectTemplate/ProjectTemplate/References/FSW.Semantic.dll
/ProjectTemplate/ProjectTemplate/References/FullSpectrumWebForms.dll
/ProjectTemplate/ProjectTemplate/References/FullSpectrumWebForms_ASPC.dll
/ProjectTemplate/.vs
/tests/UnitTests/bin
/tests/UnitTests/obj
/src/FullSpectrumWebForms/wwwroot/fsw.min.js
/src/FullSpectrumWebForms/wwwroot/fsw.min.css
/src/FullSpectrumWebForms_Semantic/wwwroot/fsw.semantic.min.css
/src/FullSpectrumWebForms_Semantic/wwwroot/fsw.semantic.min.js
/src/FullSpectrumWebForms_Diagnostic/obj
/src/FullSpectrumWebForms_Diagnostic/bin
/src/FullSpectrumWebForms_Diagnostic/wwwroot/fsw.diagnostic.min.css
/src/FullSpectrumWebForms_Diagnostic/wwwroot/fsw.diagnostic.min.js
/src/FullSpectrumWebForms_Diagnostic/wwwroot/js/diagnostic/controls/**/*.map
/src/FullSpectrumWebForms_Diagnostic/wwwroot/js/diagnostic/controls/**/*.js
/doc/FSWDocumentation/.vs/FSWDocumentation
/doc/FSWDocumentation/obj
/doc/FSWDocumentation/bin
/doc/FSWDocumentation/obj
/doc/FSWDocumentation/bin
/TestBlazor/bin/Debug/netcoreapp3.0
/TestBlazor/obj/Debug/netcoreapp3.0
/TestBlazor/obj
/TestBlazorApplication/obj
/TestBlazorApplication/bin
