@page
@model FSW.Core.ModelBase<SemanticLabelPage>
@{
    ViewData["Title"] = "SemanticLabel";
    Layout = "~/Pages/_Layout.cshtml";
}

<h2>SemanticLabel</h2>

<div id="@nameof(Semantic.SemanticLabelPage.LB_Test)"></div>

