@page
@model Polinet_ASPC.ModelBase<IndexPage>
@{
    ViewData["Title"] = "Home page";
    Layout = "_Layout";
}

<input id="@nameof(IndexPage.TB_Test)" />
<label id="@nameof(IndexPage.LB_Test)" ></label>

