@page
@model FSW.Core.ModelBase<FileDownloaderPage>
@{
    ViewData["Title"] = "FileDownloader";
    Layout = "~/Pages/_Layout.cshtml";
}


<h2>FileDownloader</h2>
<button id="BT_UploadFile" data-po-Text="Upload and download"></button>



