@page
@model FSW.Core.ModelBase<TextBoxPage>
@{
    ViewData["Title"] = "GeoLocalisation";
    Layout = "~/Pages/_Layout.cshtml";
}
<h2>TextBox</h2>

<button id="BT_QueryLocalisation" data-po-Text="Query GeoLocalisation"></button>

<span id="SP_GeoLocalisation" />


