@page
@model FSW.Core.ModelBase<SmartDataGridPage>
@{
    ViewData["Title"] = "Button";
    Layout = "~/Pages/_Layout.cshtml";
}

<h2>SmartDataGrid</h2>
<div style="height: 200px" id="DG_Test"></div>

<br /><br />

<div class="ui styled accordion" style="width:100%">
    <div class="title">
        <i class="dropdown icon"></i>
        Source
    </div>
    <div class="content">

        <div class="ui raise segment">
            <a class="ui orange ribbon label">HTML</a>
            <pre><code>&lt;button id="&commat;nameof(Model.BT_test)"&gt;&lt;/button&gt;</code></pre>
        </div>

        <div class="ui raise segment">
            <a class="ui green ribbon label">C#</a>
            <pre>
            <code>
        public FSW.Controls.Html.Button BT_test = new FSW.Controls.Html.Button();
        public override void OnPageLoad()
        {
            base.OnPageLoad();

            BT_test.OnClicked += BT_test_OnClicked;
            BT_test.Text = "Button test";
        }

        private void BT_test_OnClicked(FSW.Controls.Html.HtmlControlBase control)
        {
            BT_test.Text = "You clicked me !";
        }
                </code>
            </pre>
        </div>

    </div>
</div>

